.navbar {
    /* background: #ffffff; */
    color: whitesmoke
}

.navbar-items {
    opacity: 0.5
}

.is-active {
    opacity: 1
}

.special-button:hover {
    background: #007bff; /* Plava boja */
    color: #ffffff; /* Bela boja za tekst */
    opacity: 1; /* Povećaj opacity na 1 kada je hover-ovan */
}