<div mat-dialog-content style="display: flex;justify-content: center;">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>
                Naziv
            </mat-label>

            <input #naziv (input)="getUserReviewFromForm('naziv', naziv.value)"
                matInput placeholder="Naziv" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>
                Tip
            </mat-label>

            <input #tip (input)="getUserReviewFromForm('tip', tip.value)"
             matInput placeholder="Tip" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>
                Opis
            </mat-label>

            <input #opis (input)="getUserReviewFromForm('opis', opis.value)"
             matInput placeholder="Opis" autocomplete="off">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>
                Mesto 
            </mat-label>

            <input #mesto (input)="getUserReviewFromForm('mesto', mesto.value)"
             matInput placeholder="Mesto"  autocomplete="off">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>
                Cena Ucesca 
            </mat-label>

            <input #cenaUcesca (input)="getUserReviewFromForm('cenaUcesca', cenaUcesca.value)"
             matInput placeholder="Cena Ucesca" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>
                Nagradni fond
            </mat-label>

            <input #nagradniFond (input)="getUserReviewFromForm('nagradniFond', nagradniFond.value)"
             matInput placeholder="Nagradni Fond" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>
                Broj Timova
            </mat-label>

            <input #brojTimova (input)="getUserReviewFromForm('brojTimova', brojTimova.value)"
             matInput placeholder="Broj Timova" autocomplete="off">
        </mat-form-field>

        
        <mat-form-field class="example-full-width">
            <mat-label>
                Timovi IDs
            </mat-label>

            <input #timoviIDS (input)="getUserReviewFromForm('timoviIDS', timoviIDS.value)"
             matInput placeholder="Timovi IDs" autocomplete="off">
        </mat-form-field>

        
        <mat-form-field class="example-full-width">
            <mat-label>
                Organizatori Id
            </mat-label>

            <input #organizatoriID (input)="getUserReviewFromForm('organizatoriID', organizatoriID.value)"
             matInput placeholder="Organizatori Id" autocomplete="off">
        </mat-form-field>


        <div class="change-password-btn-container">
            <button (click)="addTurnir()" mat-raised-button class="change-password-btn">
                Create Turnir
            </button>
        </div>

        <mat-list role="list">
            <p *ngFor="let error of errors$.value">
                <mat-list-item role="listitem">
                    {{error}}
                </mat-list-item>
                <mat-divider></mat-divider>
            </p>
        </mat-list>

        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
        </div>
    </form>
</div>