body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    height: 60px; /* Povećajte visinu trake prema potrebi */
    padding: 0 20px;
}

.nav-item {
    margin: 0 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #0056b3;
}

.is-active {
    color: #0056b3;
}

.welcome-message {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

.profile-icon {
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: #0056b3;
}