<div class="navbar">
    <a button mat-button routerLink="tim" class="nav-item" routerLinkActive="is-active">
        
    </a>

    <a button mat-button routerLink="turnir" class="nav-item" routerLinkActive="is-active" class="special-button">
        Turniri
    </a>

    <a button mat-button routerLink="igrac" class="nav-item" routerLinkActive="is-active">
        
    </a>
</div>


<mat-toolbar color="primary">
    <a button mat-button routerLink="profile" class="profile-icon" routerLinkActive="is-active">
        Profile
    </a>
</mat-toolbar>
<router-outlet></router-outlet>