<p>
    <mat-toolbar color="primary">
        <!-- <span class="example-spacer"></span> -->

        <a button mat-button routerLink="tim" class="turnir-navbar-items" routerLinkActive="is-active">
            Timovi
        </a>

        <a button mat-button routerLink="turnir" class="turnir-navbar-items" routerLinkActive="is-active">
            Turniri
        </a>

        <a button mat-button routerLink="igrac" class="turnir-navbar-items" routerLinkActive="is-active">
            Igraci
        </a>

        <span class="space-btn"></span>

        <mat-icon routerLink="profile" class="profile-icon turnir-navbar-items" routerLinkActive="is-active">
            account_circle
        </mat-icon>

    </mat-toolbar>
</p>

<router-outlet></router-outlet>