body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #007bff; */
    height: 60px; /* Povećajte visinu trake prema potrebi */
    padding: 0 20px;
    
}

.nav-item {
    margin: 0 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease; /* Dodajte tranziciju za color i background-color */
    padding: 10px 20px; /* Dodajte ovo da biste povećali površinu na koju se primenjuje hover efekat */
    border-radius: 5px; /* Dodajte ovo da biste zaoblili uglove dugmeta */
    
}

.nav-item:hover {
    color: #ffffff;
    background-color: #007bff; /* Plava boja koja će se pojaviti kada pređete preko dugmeta */
}

.is-active {
    color: #0056b3;
    background-color: #007bff; /* Dodajte istu boju kao hover efekat kada je dugme aktivno */
}

.welcome-message {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

.profile-icon {
    cursor: pointer;
    color: white;
    background-color: #ffffff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: #0056b3;
}