.tim-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.tim-card {
    width: 90vw;
    margin-top: 20px;
}


.obrisi-button {
    background-color: red;
    color: white; /* Beli tekst na crvenoj pozadini */
    /* Dodajte ostale stilove prema vašim potrebama */
  }